 <!-- <app-alert></app-alert> -->

<!-- <div class="container"> -->
    <!-- <form> -->

     <!-- <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" name = "id" [(ngModel)] = "id">
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name = "name" [(ngModel)] = "name">
      </div>
            <div class="form-group">
        <label for="imgPath">Image Path</label>
        <input type="text" class="form-control" id="imgPath" name = "imgPath" [(ngModel)] = "imgPath">
      </div> -->

       <!-- <mat-form-field >
        <input name = "id" [(ngModel)] = "id" matInput placeholder="Enter id">
      </mat-form-field>

      <mat-form-field >
        <input name = "name" [(ngModel)] = "name" matInput placeholder="Enter Name">
      </mat-form-field>

      <mat-form-field >
        <input name = "imgPath" [(ngModel)] = "imgPath" matInput placeholder="Enter ImagePath">
      </mat-form-field>  -->

    <!-- <form>

    <app-course-from (getCourseData)="createCourse($event)"></app-course-from>
    <app-display-courses [coursesData]="courses"> </app-display-courses>
    </form>
</form>
 -->

      <!-- <button type="submit" (click)="createCourse()" class="btn btn-success">Submit</button> -->

     <!-- </form>  -->
<!-- </div> -->
     

  <app-alert></app-alert> 
<!-- <h1> h1 component </h1> -->
 <div class="container"> 
  
  <mat-form-field>
    <input id = "faculty" type = "text" matInput #faculty />
  </mat-form-field>
  
  <button mat-raised-button (click) = "getFacultyName(faculty.value)">
    Get Local Varialble
  </button>

  

 <app-course-form (getCourseData)="createCourse($event)"></app-course-form> 
<app-display-courses [coursesData]="courses"> 
 
   <mat-expansion-panel *ngFor="let course of courses">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{course.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{course.id}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img src="{{course.imgPath}}"/>
        </mat-expansion-panel>


</app-display-courses>
 </div>