<span *ngFor = "let menu of childMenus">
  <a routerLinkActive="active-menu-link" [routerLink]="[menu.url]"  href = "{{menu.url}}" class ="menu-item">
    {{menu.display}}
  </a>
</span>
<ng-template *ngIf="!authService1.isAuthenticated()">

<span>
  <a routerLinkActive="active-menu-link" [routerLink]="['sign-in']"  class ="menu-item">
    Sign In
  </a>
</span>

<span>
  <a routerLinkActive="active-menu-link" [routerLink]="['sign-up']"  class ="menu-item">
    Sign up
  </a>
</span>
<ng-template>