 <h1> cousre form</h1> 

<form>   
<mat-form-field >
        <input name = "id" [(ngModel)] = "id" matInput placeholder="Enter id">
  </mat-form-field>

      <mat-form-field >
        <input name = "name" [(ngModel)] = "name" matInput placeholder="Enter Name">
      </mat-form-field>

      <mat-form-field >
        <input name = "imgPath" [(ngModel)] = "imgPath" matInput placeholder="Enter ImagePath">
      </mat-form-field> 
      <button type = "submit" (click) = "createCourse()" > submit </button>
</form>