 <h1>{{statusFromCreateComp}}</h1>


<!-- <mat-accordion>
  <mat-expansion-panel *ngFor = "let course of childCourses"> 
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{course.name}}
      </mat-panel-title>
      <mat-panel-description> -->
         <!-- Type your name and age  -->
        <!-- <img src="{{course.imgPath}}"> -->
          <!-- <ng-content ></ng-content> -->
          <!-- {{course.id}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <ng-content ></ng-content> -->
         <!-- <img src="{{course.imgPath}}">  -->
  <!-- </mat-expansion-panel>   -->
<!-- </mat-accordion> -->
<!-- here we need to remove code -->

<mat-accordion>
  <ng-content></ng-content>
</mat-accordion>