<p>
  detail works and id is {{id}}! 
   <!-- <a [routerLink]="['product/detail', 400]" [queryParams]="{name,'j2ee'}"> click me </a>  -->
   <a [routerLink]="['/product/detail',400]"
   [queryParams] = "{name:'J2EE'}"> click me</a>
</p>

<h1>
  course id is {{id}} course name is {{name}} and faculty is {{faculty}}.
</h1>

<h1> {{course | json}} </h1>
