<!-- <div>
  <form class = "example-form" (ngSubmit)="signupForm(signupForm)" #signupForm="ngForm">
    <mat-form-field class = "example-full-width">
      <input matInput placeholder="Enter Email" name = "email" ngModel/>
    </mat-form-field>

    <mat-form-field class = "example-full-width">
      <input matInput placeholder="Password" name = "password" ngModel/>
    </mat-form-field>
    
    <button type = "submit" mat-raised-button color = "primary">Sign Up</button>
  </form>
</div> -->

<div>
  <form >
    <mat-form-field class = "example-full-width">
      <input matInput placeholder="Enter Email" name = "email" [(ngModel)]="email"/>
    </mat-form-field>

    <mat-form-field class = "example-full-width">
      <input matInput placeholder="Password" name = "password" type = password  [(ngModel)]="password"/>
    </mat-form-field>
    
    <button mat-raised-button color = "primary" (click)="signupForm()">Sign Up</button>
  </form>
</div>