.spacer{
    flex: 1 1 auto;

}
mat-toolbar span a{
    text-decoration: none;
    color: white;
    padding: 8px;

}
mat-toolabr{
    box-shadow: 0 3px 5px - 1px rgba(0,0,0,2),(red, green, blue, alpha)
}

mat-chip{
    display: inline-table;
}
.active-menu-link{

    color: burlywood;
    text-decoration: underline ;
}