@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body, app-root, mat-sidenav-container, .my-content
{
    margin: 0;
    width: 100%;
    height: 100%;
}