<div>
  <form >
    <mat-form-field class = "example-full-width">
      <input matInput placeholder="Enter Email" name = "email" [(ngModel)]="email"/>
    </mat-form-field>

    <mat-form-field class = "example-full-width">
      <input matInput placeholder="Password" name = "password" type = password [(ngModel)]="password"/>
    </mat-form-field>
    
    <button mat-raised-button color = "primary" (click)="signinForm()">Sign In</button>
  </form>
</div>