.spacer{
    flex: 1 1 auto;

}
mat-toolbar span a{
    text-decoration: none;
    color: white;
    padding: 8px;

}
mat-toolabr{
    box-shadow: 0 3px 5px - 1px rgba(0,0,0,2),(red, green, blue, alpha)
}

mat-chip{
    display: inline-table;
}

.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.align-center{
    text-align: center;
}
 /* input.ng-invalid.ng-touched{
    border: 1px solid maroon; 
} */

.error-block{
    color: maroon;
    font-size: 20px;
}

/* input.ng-invalid.ng-input{
    border: 1px solid red;
} */