<!-- <mat-card class="example-card" *ngFor="let course of courses">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{course.name}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{course.imgPath}}" alt="Photo of a Shiba Inu">
  
  <mat-card-actions>
    <button mat-button>View</button>
    <button mat-button>Edit</button>
    <button mat-button>Remove</button>
  </mat-card-actions>
</mat-card> -->



<!-- <div class="align-center">
    <h3>User Detail Form</h3>
  
    
        <form (ngSubmit)="submitForm()" #myForm="ngForm">
          <div>
            <div ngModelGroup="userData" #userDataRef = "ngModelGroup">
                    <div>
                      <mat-form-field class="example-full-width">
                        <input required ngModel name="username" matInput placeholder="username" #username="ngModel">
                        <mat-error *ngIf="username.invalid">Username is madatory</mat-error> 
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width">
                        <input requried email ngModel name="email" matInput placeholder="email" #email="ngModel">
                        <mat-error *ngIf="email.invalid">Email is madatory</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="error-block" *ngIf="userDataRef.invalid && userDataRef.touched" >
                      User Data is invalid
                    </div>
           </div>
          </div>
        <div>
        <mat-form-field>
         <mat-select [ngModel]="question" name="questions" placeholder="Questions">
          <mat-option [value]="'school'">
            What is your name?
          </mat-option>
          <mat-option [value]="'pet'">
            What is your pet name?
          </mat-option>
         </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <textarea name = "answers" [(ngModel)]= "answers" matInput placeholder="Textarea"></textarea>
        </mat-form-field>
        <div>
        
        <mat-radio-group name="gender" class="example-radio-group" [(ngModel)]= "gender">
  <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
    {{gender}}
  </mat-radio-button>
</mat-radio-group>
 <div class="example-selected-value">Your selected gender is: {{gender}}</div> 

        
        </div>
      </div>
    <div>
      <button [disabled]="myForm.invalid" type="submit" mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color ="primary" (click) = "setFormValue()">Set User Data</button>
      <button mat-raised-button color ="primary" (click) = "setPacthValue()">Set Patch Data</button>
      <button mat-raised-button color ="primary" (click) = "resetForm()">Reset</button>
    </div>
    </form>
</div> -->



<div class="align-center">
   <h3>User Detail Form</h3>
    <form [formGroup]="userDataForm" (ngSubmit)="sumbitUserDataForm()" >
          <div>
            <div formGroupName="userData">
                <div>
                  <mat-form-field class="example-full-width">
                    <input formControlName="username" name="username" matInput placeholder="Username">
                    <mat-error *ngIf="userDataForm.get('userData.username').errors && 
                    userDataForm.get('userData.username').errors['required']">
                        Username is mandatory 
                    </mat-error> 
                    <mat-error *ngIf="userDataForm.get('userData.username').errors && 
                                      !userDataForm.get('userData.username').errors['required'] && 
                                      userDataForm.get('userData.username').errors['userNameIsAvailable']">
                      UserName already exist 
                    </mat-error>

                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="example-full-width">
                    <input formControlName="email" name="email" matInput placeholder="email">
                     <mat-error *ngIf="userDataForm.get('userData.email').errors &&
                     userDataForm.get('userData.email').errors['required']">
                      please enter email 
                    </mat-error> 
                     <mat-error *ngIf="userDataForm.get('userData.email').errors && 
                                      !userDataForm.get('userData.email').errors['required'] && 
                                      userDataForm.get('userData.email').errors['email']">
                      please enter valid email 
                    </mat-error>  
                  </mat-form-field>  
                </div>
              </div>
           </div>
        
         <div>
            <mat-form-field>
            <mat-select formControlName="questions" name="questions" placeholder="Questions">
              <mat-option [value]="'school'">
                What is your name?
              </mat-option>
              <mat-option [value]="'pet'">
                What is your pet name?
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      <div>
        <h4>Hobbies</h4>
        <button type = "button" (click)="addHobby()" mat-raised-button color="primary">add hobby</button>
        <div formArrayName="hobbies">
            <div *ngFor="let control of userDataForm.get('hobbies').controls; let i = index">
              <mat-form-field class="example-full-width">
                <input formControlName="{{i}}" name="i" matInput placeholder="i"> 
              </mat-form-field>
            </div>
        </div>
      </div>

    <div>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>

  </form>
</div>